@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body 
{
    background-color: #000 !important;
}
.person-info-form-wrapper 
{
    font-family: 'ABeeZee', sans-serif;
    background-color: #f9f9f9;
    padding: 4rem;
    border: 1px solid #1A1A1B; 
    margin: 50px; 
    color: #1A1A1B !important;
    max-width: fit-content;
    position: relative;
}

@media(max-width:500px)
{
    .person-info-form-wrapper
    {
        padding: 1.5rem;
    }
}

@media(max-width:349px)
{
    body
    {
        background-color: #fff !important;
    }
    .person-info-form-wrapper
    {
        margin: 0;
        border: none;
    }
}

.person-form-logo
{
    text-align: center;
    margin-bottom: 1.5rem;
}
.person-form-logo img
{
    max-width: 200px !important;
    height: auto;
    display: inline-block;
}

.form-header
{
    text-align: center;
    margin-bottom: 25px;
}

h1
{
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 100% !important;
    letter-spacing: -3%;
    letter-spacing: -0.03em;
    /*letter-spacing: -3% is invalid css*/
}

.form-subtitle
{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;   
    color: #1A1A1BCC; /*80% opacity */
}
label 
{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;    
} 
.form-required::after
{
    display: none !important;
} 
input, select, .choices 
{
    padding: 8px 8px 8px 20px !important;
    border-radius: 30px !important;
    background-color: #F0EFEF !important;
    border: 1px solid #F0EFEF !important; 
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 140% !important;
    color: #1A1A1B80 !important;
    min-height: 52px !important;  
    box-sizing: border-box; 
    width: 100% !important;
    max-width: 100% !important;       
}

select#edit-phone-type
{
    background-image: url('../images/select-icon.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 40px 40px; 
    appearance: none;
    padding-right: 3.5rem !important;
    cursor: pointer;
    width: 100%;
}
select#edit-phone-type:hover
{
    opacity: .9;
}

#agree-wrapper input.form-checkbox
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px !important;
    height: 20px !important;
    min-height: initial !important;
    border: 2px solid #ccc !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    cursor: pointer !important;
    position: relative !important;
    padding: 0 !important;
}
#agree-wrapper input.form-checkbox:checked
{
    background-image: url('../images/checkbox-input.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    border-color: #666;
    background-color: #fff; /* or transparent */
    border: none !important;
}
#agree-wrapper label
{
    margin-left: 5px;
}

.person-info-form-wrapper .form-actions
{
    margin-bottom: 0 !important;
} 

.person-info-form-wrapper .form-actions button 
{
    width: 100%;
    height: 52px;
    border-radius: 100px !important;
    padding-top: 16px !important;
    padding-right: 24px !important;
    padding-bottom: 16px !important;
    padding-left: 24px !important;
    background-color: #00A3A4 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 100% !important;
    border: none !important;
    margin-top: 25px !important;    
}
.person-info-form-wrapper .form-actions input 
{
    width: 100%;
    height: 52px;
    border-radius: 100px !important;
    padding-top: 16px !important;
    padding-right: 24px !important;
    padding-bottom: 16px !important;
    padding-left: 24px !important;
    background-color: #00A3A4 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 100% !important;
    border: none !important;
    margin-top: 25px !important; 
    color: #fff !important;   
}

.person-info-form-wrapper .form-actions button:hover
{
    opacity: .9;
}

.choices 
{
    padding: 0 !important;
}
.choices .choices__inner
{
    background: none;
    border: none;
    padding: 0 !important;
    height: 100%;
    min-height: 52px;
    display: flex;
    align-items: center;   

    background-image: url('../images/select-icon.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 40px 40px; 
    appearance: none;
    padding-right: 3.5rem !important;
    cursor: pointer !important;
}
.choices .choices__inner select
{

}
.choices .choices__inner select option
{

}

.choices .choices__inner .choices__list
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    margin: 10px;
}
.choices .choices__inner .choices__list .choices__item
{
    margin: 0;
    background-color: #B5B5B54D;
    color: #1A1A1B;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    border: none;
    white-space: nowrap;
}
.choices .choices__inner .choices__list .choices__item:hover
{
    opacity: 0.7;
}

.choices .choices__inner .choices__list .choices__item button
{
    border: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMUExQTFCIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
    margin-left: 2px;
}

.choices .choices__inner .choices__input
{
    height: auto !important;
    margin: 0;
    cursor: pointer;
}
.choices .choices__inner .choices__input:focus
{
    outline: none;
}

.choices .choices__inner .choices__input.placeholder-visible
{
    font-size: 16px !important;
}

.choices .choices__list--dropdown
{

}
.choices .choices__list--dropdown .choices__list
{

}
.choices .choices__list--dropdown .choices__list .choices__item
{

}
